<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">教育经历</h3>
    </div>
    <div class="panel-body">
        <div class="form row">
            <form class="bs-example bs-example-form" role="form">
                <div class="col-md-12">
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw  global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="就读院校" name="username" autofocus="autofocus" maxlength="50" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leanpub fa-fw global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="学历" name="mobile" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leanpub fa-fw global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="学位" name="mobile" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leanpub fa-fw global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="专业" name="mobile" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-fw global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="入学日期" name="email" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-fw global_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="毕业日期" name="idcard" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">奖励名称</th>
                                    <th class="text-center">奖励描述</th>
                                    <th class="text-center">开始时间</th>
                                    <th class="text-center">结束时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>三好学生</td>
                                    <td>优秀学生 </td>
                                    <td>2013-09-01</td>
                                    <td>2013-12-01</td>
                                </tr>
                                <tr>
                                    <td>三好学生</td>
                                    <td>优秀学生 </td>
                                    <td>2013-09-01</td>
                                    <td>2013-12-01</td>
                                </tr>
                                <tr>
                                    <td>三好学生</td>
                                    <td>优秀学生 </td>
                                    <td>2013-09-01</td>
                                    <td>2013-12-01</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer navbar-fixed-bottom">
        <div class="text-right">
            教育经历
        </div>
    </div>
</div>