<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 顾问信息</h3>
    </div>
    <div class="panel-body">
        <div class="detail_row_height_s"></div> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                    <img src="/assets/images/suqi.jpg" class=" img-thumbnail img-circle"/>
                </div>
                <div class="col-xs-3"></div>
             </div>
            <div class="row">
                <div class="red-text text-center">孙俪</div>
            </div>
            <div class="detail_row_height"></div> 
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 red-text text-center content-personl">
                  孙俪，原名孙丽，1982年9月26日出生于上海市，中国内地女演员、歌手。2001年，参加新加坡“新传媒8频道”举行的“才华横溢出新秀”，获得亚军及智慧大奖，随后签约海润影视，正式出道；
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="detail_row_height"></div> 
            <div class="row">
                <div class="red-text text-center">中央戏剧学院</div>
            </div>
            <div class="detail_row_height"></div> 
            <div class="row">
                <div class="red-text text-center">表演专业</div>
            </div>
        </div>   
        <div class="detail_row_height_s"></div> 
        <div id="mainAccordion" class="container-fluid">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-xl-4">
                                    <span class="label label-primary">个人信息</span>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6 "></div>
                                <div class="col-xs-2 col-md-2 col-xl-2">
                                    <div class="fa fa-edit fa-1x" routerLink="/user/userinfo" style="margin-top:2px;color:#337ab7"></div>
                                </div>
                            </div>
                            <div style="height:1px;"> </div>
                            <div style="width:88%; margin:0 auto;border-bottom: 1px solid #337ab7;"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseOne" class="accordion-body collapse collapseMain" style="height: 0px; ">
                        <div class="accordion-inner">
                            <div class="container-fluid">

                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6">电话:</div>
                                            <div class="col-xs-6">{{title}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6">电子信箱:</div>
                                            <div class="col-xs-6">{{title}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6">公司名称:</div>
                                            <div class="col-xs-6">{{title}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-6">当前职位:</div>
                                            <div class="col-xs-6">{{title}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_s"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">精通技能</span>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6 "></div>
                                <div class="col-xs-2 col-md-2 col-xl-2 ">
                                    <div class="  fa fa-edit fa-1x" routerLink="/skill" style="margin-top:2px;color:#337ab7"></div>
                                </div>
                            </div>
                            <div style="height:1px;"> </div>
                            <div style="width:88%; margin:0 auto;border-bottom: 1px solid #337ab7;"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseTwo" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-11 label label-danger">SAP</div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-11 label label-warning">JAVA</div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-11 label label-success">JavaScript</div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-11 label label-info"> C++</div>
                                            <div class="col-xs-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail_row_height_m"></div>
                                <div>
                                    <div class="container-fluid">
                                        <div  id="branchAccordion">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a class="accordion-toggle" data-toggle="collapse"  href="#branchCollapse">
                                                        <div class="row">
                                                            <div class="col-xs-2"></div>
                                                            <div class="col-xs-8">
                                                                <span class="fa fa-chevron-down "></span>
                                                                <span >展开所有技能</span>
                                                            </div>
                                                            <div class="col-xs-2"></div> 
                                                        </div>
                                                        <div class="detail_row_height_s"></div>
                                                    </a>
                                                </div>
                                                <div id="branchCollapse" class="accordion-body collapse collapseBranch" style="height: 0px; ">
                                                    <div class="accordion-inner">
                                                        
                                                          dddddddddddd 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail_row_height_l"></div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_s"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">工作经历</span>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6 "></div>
                                <div class="col-xs-2 col-md-2 col-xl-2 ">
                                    <div class="fa fa-edit fa-1x "></div>
                                </div>
                              
                            </div>
                            <div style="height:1px;"> </div>
                            <div style="width:88%; margin:0 auto;border-bottom: 1px solid #337ab7;"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_m"></div>
                    <div id="collapseThree" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3">
                                        ddd
                                    </div>
                                    <div class="col-xs-9">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                副总经理
                                            </li>
                                            <li class="list-group-item">
                                                红海技术
                                            </li>
                                            <li class="list-group-item">
                                                2017-01-01 2017-10-10
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">教育经历</span>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6 "></div>
                                <div class="col-xs-2 col-md-2 col-xl-2 ">
                                    <div class="fa fa-edit fa-1x "></div>
                                </div>
                            </div>
                            <div style="height:1px;"> </div>
                            <div style="width:88%; margin:0 auto;border-bottom: 1px solid #337ab7;"> </div> 
                        </a>
                    </div>
                    <div class="detail_row_height_m"></div>
                    <div id="collapseFour" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="row ">
                                <div class="control-group ">
                                    <div class="col-xs-3 col-md-3 col-xl-3 text-right control-label">
                                        <ul class="list-group">
                                            <li class="list-group-item">浙江大学</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-9 col-md-9 col-xl-9 text-left control-label">
                                        <ul class="list-group skill">
                                            <li>浙江大学</li>
                                            <li>学位专业</li>
                                            <li>工作期间</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_m"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">项目经历</span>
                                </div>
                                <div class="col-xs-6 col-md-6 col-xl-6 "></div>
                                <div class="col-xs-2 col-md-2 col-xl-2 ">
                                    <div class="fa fa-edit fa-1x "></div>
                                </div>
                            </div>
                            <div style="height:1px;"> </div>
                            <div style="width:88%; margin:0 auto;border-bottom: 1px solid #337ab7;"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseFive" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="row ">
                                <div class="control-group ">
                                    <div class="col-xs-3 col-md-3 col-xl-3 text-right control-label">
                                        <ul class="list-group">
                                            <li class="list-group-item">浙江大学</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-9 col-md-9 col-xl-9 text-left control-label">

                                        <ul class="list-group">
                                            <li class="list-group-item">浙江大学</li>
                                            <li class="list-group-item">学位专业</li>
                                            <li class="list-group-item">工作期间</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer navbar-fixed-bottom ">
        <div class="text-right ">
            详情
        </div>
    </div>
</div>