<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 顾问详情</h3>
    </div>
    <div class="panel-body">
        <div class="detail_row_height_s"></div>

        <div class="detail_row_height_s"></div>

        <div class="detail_row_height_s"></div>
        <div id="mainAccordion" class="container-fluid">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">

                    <div class="detail_row_height_s"></div>

                </div>
                <div class="detail_row_height_s"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">精通技能</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/skill"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseTwo" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="row">
                                                        <div class="col-xs-11 label label-danger">SAP</div>
                                                        <div class="col-xs-1"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="row">
                                                        <div class="col-xs-11 label label-warning">JAVA</div>
                                                        <div class="col-xs-1"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="row">
                                                        <div class="col-xs-11 label label-success">JavaScript</div>
                                                        <div class="col-xs-1"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="row">
                                                        <div class="col-xs-11 label label-info"> C++</div>
                                                        <div class="col-xs-1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail_row_height_m"></div>
                                <div class="container">
                                    <div id="branchAccordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#branchCollapse">
                                                    <div class="row">
                                                        <div class="col-xs-2"></div>
                                                        <div class="col-xs-8">
                                                            <span class="fa fa-chevron-down "></span>
                                                            <span>展开所有技能</span>
                                                        </div>
                                                        <div class="col-xs-2"></div>
                                                    </div>
                                                    <div class="detail_row_height_s"></div>
                                                </a>
                                            </div>
                                            <div id="branchCollapse" class="accordion-body collapse collapseBranch" style="height: 0px; ">
                                                <div class="accordion-inner">
                                                    <ul class="ul-content-detail">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-danger">SAP</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-warning">JAVA</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-success">JavaScript</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-info"> C++</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-danger">SAP</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-warning">JAVA</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-success">JavaScript</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="row">
                                                                        <div class="col-xs-11 label label-info"> C++</div>
                                                                        <div class="col-xs-1"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="detail_row_height_l"></div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_s"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">工作经历</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/work"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator" routerLink="/user/work"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator" routerLink="/user/work"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>华为技术有限公司</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>变革工具部</span>
                                                                <span>开发组长</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-calendar-minus-o fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>2013-09-01</span>
                                                                <span class=" fa fa-arrows-h fw "></span>
                                                                <span>2017-09-01</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_m"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">教育经历</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/education"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator" routerLink="/user/education"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator" routerLink="/user/education"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>北京大学</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>汉语言文学</span>
                                                                <span>文学学士</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-calendar-minus-o fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>2013-09-01</span>
                                                                <span class=" fa fa-arrows-h fw "></span>
                                                                <span>2017-09-01</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_m "></div>
                <div class="accordion-group ">
                    <div class="accordion-heading ">
                        <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2 " href="#collapseFive ">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">项目经历</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/project"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseFive" class="accordion-body collapse collapseMain ">
                        <div class="accordion-inner ">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator" routerLink="/user/project"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator" routerLink="/user/project"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>浙江能源项目</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>ABAP开发</span>
                                                                <span>骨干成员</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-calendar-minus-o fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>2013-09-01</span>
                                                                <span class=" fa fa-arrows-h fw "></span>
                                                                <span>2017-09-01</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer navbar-fixed-bottom ">
        <div class="text-right ">
            详情
        </div>
    </div>
</div>