.img-thumbnail{display:inline-block;height:128px;width:128px;}
.content-personl {
    text-indent:2em;padding-top:5px;padding-bottom:5px;text-align: left;overflow-y: auto; overflow-X:hidden;height:100px;border-radius:2px;border:1px solid #337ab7;
}