.img-thumbnail {
    display: inline-block;
    height: 80px;
    width: 80px;
}
.text_left{
    text-align:left
}
.button_style{
    height:35px;
    padding-top:10px;
    font-size:16px;
}
.img-thumbnail {
    display: inline-block;
    height: 128px;
    width: 128px;
}
.global_line_solid95{
    margin-top:-4px;
    margin-left:8px;
}
input[type=checkbox] {
    zoom: 150%;
}