<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 顾问信息</h3>
    </div>
    <div class="panel-body">
        <div class="detail_row_height_s"></div>
        <div id="mainAccordion" class="container-fluid">
            <div class="accordion" id="accordion2">
                <div class="detail_row_height_s"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">JAVA</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/work"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator" routerLink="/user/work"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator" routerLink="/user/work"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>Spring</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>myBatis</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>SpringMVC</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_m"></div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">SAP</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse collapseMain">
                        <div class="accordion-inner">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>财经模块</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>ABAP</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>WebDnypro</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_row_height_m "></div>
                <div class="accordion-group ">
                    <div class="accordion-heading ">
                        <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2 " href="#collapseFive ">
                            <div class="row ">
                                <div class="col-xs-4 col-md-4 col-xl-4 ">
                                    <span class="label label-primary ">JavaScript</span>
                                </div>
                                <div class="col-xs-5 col-md-5 col-xl-5 "></div>
                                <div class="col-xs-1"> </div>
                                <div class="col-xs-1  text-left">
                                    <div class=" fa fa-plus-square-o fw-1x global_ico_operator  global_ico_operator_add" routerLink="/user/project"></div>
                                </div>
                            </div>
                            <div class="global_line_solid80"> </div>
                        </a>
                    </div>
                    <div class="detail_row_height_s"></div>
                    <div id="collapseFive" class="accordion-body collapse collapseMain ">
                        <div class="accordion-inner ">
                            <div class="container">
                                <ul class="ul-content-detail">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-9 "></div>
                                            <div class="col-xs-1">
                                                <div class="fa fa-edit fa-1x global_ico_operator" routerLink="/user/project"></div>
                                            </div>
                                            <div class="col-xs-1 text-left">
                                                <div class="fa fa-remove fa-1x global_ico_operator" routerLink="/user/project"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-vcard fw  global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>jQery</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>Angular</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail_row_height"></div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <span class="fa fa-leanpub fw global_ico"> </span>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="global_word global_border_line">
                                                                <span>vue</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer navbar-fixed-bottom ">
        <div class="text-right ">
            技能详情
        </div>
    </div>
</div>