/* You can add global styles to this file, and also import other style files */

@charset "utf-8";
body {
    background-image: repeating-linear-gradient( 45deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1)15px, transparent 0, transparent 30px);
}

.global-font-color {
    color: #337ab7;
}

.global-form-label {
    width: 20px;
}

.detail_row_height {
    height: 5px;
}

.detail_row_height_s {
    height: 10px;
}

.detail_row_height_m {
    height: 20px;
}

.detail_row_height_l {
    height: 40px;
}

.global_word {
    color: #333;
    cursor: pointer;
}

.global_ico {
    color: #f0ad4e;
}

.global_ico_operator {
    margin-top: 2px;
    color: #337ab7;
    text-align: left;
}

.global_ico_operator_add {
    margin-top: 2px;
    margin-left: -6px;
}

.global_line_dashed {
    color: #f0ad4e;
    border-bottom: 1px dashed #f0ad4e;
}

.global_line_solid80 {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #337ab7;
}

.global_line_solid88 {
    width: 88%;
    margin: 0 auto;
    border-bottom: 1px solid #337ab7;
}

.global_line_solid100 {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #337ab7;
}

.global_border_line {
    border-bottom: 1px dashed #f0ad4e;
}

.text-right {
    text-align: right;
    padding-right: 14px;
    margin-top: -1px;
}

.text-left {
    text-align: left;
    padding-left: 2px;
    margin-top: -1px;
}

.text-center {
    text-align: center
}

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";