/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

body{background-color: #fff;}

.global-font-color {
    color: #337ab7
}

.global-form-label {
    width: 20px
}

.detail_row_height{
    height:5px;
}
.detail_row_height_s{
    height:10px;
}
.detail_row_height_m{
    height:20px;
}
.detail_row_height_l{
    height:40px;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";