<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">工作经历</h3>
    </div>
    <div class="panel-body">
        <div class="form row">
            <form class="bs-example bs-example-form" role="form">
                <div class="col-md-12">
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw glogal_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="职位头衔" name="username" autofocus="autofocus" maxlength="50" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-leanpub fa-fw glogal_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="公司名称" name="mobile" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-fw glogal_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="入职时间" name="email" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-fw glogal_ico"></i></span>
                            <input class="form-control required" type="text" placeholder="离职时间" name="idcard" maxlength="13" minlength="7" />
                        </div>
                    </div>
                    <div class="detail_row_height"></div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name=textarea></textarea>
                    </div>
                </div>
        </form>
        </div>
    </div>
    <div class="panel-footer navbar-fixed-bottom">
        <div class="text-right">
            工作经历编辑页面
        </div>
    </div>
</div>
